.top{
  background-color: rgb(246, 255, 114);
  padding: 10px;
}
.mainContainer{
  display: flex;
}
.containers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  
}
.name{
  width:400px;
  align-items: flex-start;
}
.price{
  width:50px;
}
.subtotal{
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: 600;
}
.btn{
  border: none;
  background-color: white;
  font-weight: 600;
}
.containerSecond{
  display: flex;
  justify-content: center;
}
.viewedItems{
display: flex;
justify-content: center;
}
.eachItem{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back, .next{
  margin-top: 50px;
}
.back{
  margin-right: 150px;
}
.next{
  margin-left: 150px;
}
p{
  text-align: justify;
}
